<div class="input-container">
  <label for="num1">Número Uno:</label>
  <input type="number" id="num1" [(ngModel)]="nuevoNumero.numeroUno" placeholder="Introduce el primer número">

  <label for="num2">Número Dos:</label>
  <input type="number" id="num2" [(ngModel)]="nuevoNumero.numeroDos" placeholder="Introduce el segundo número">
</div>

<div class="buttons-container">
  <button (click)="sumar()">Sumar (+)</button>
  <button (click)="resta()">Restar (-)</button>
  <button (click)="multi()">Multiplicar (*)</button>
  <button (click)="raiz()">Raíz Cuadrada ()</button>
</div>
<hr>

<h2>Historial de Resultados</h2>

<ul *ngIf="numero.length > 0; else noResults">
  <li *ngFor="let item of numero; let i = index">
    <strong>Operación {{ i + 1 }}:</strong> 
    
    <span *ngIf="item.numeroDos !== 0 || item.numeroUno === item.resultado"> 
      {{ item.numeroUno }} y {{ item.numeroDos }} 
    </span>
    
    <span *ngIf="item.numeroDos === 0 && item.numeroUno !== item.resultado"> 
      (Raíz cuadrada de {{ item.numeroUno }})
    </span>
    
    = <strong class="result">{{ item.resultado | number: '1.0-4' }}</strong>
  </li>
</ul>

